<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yss.valset.task.infrastructure.mapper.OutsourcedDataTaskSummaryMapper">

    <sql id="baseFilteredTasks">
        WITH filtered_tasks AS (
            SELECT
                t.task_id,
                t.task_type,
                t.task_stage,
                CASE UPPER(COALESCE(t.task_stage, 'FILE_PARSE'))
                    WHEN 'EXTRACT' THEN 'FILE_PARSE'
                    WHEN 'RAW_DATA_EXTRACT' THEN 'FILE_PARSE'
                    WHEN 'PARSE' THEN 'FILE_PARSE'
                    WHEN 'TASK_RAW_PARSED' THEN 'FILE_PARSE'
                    WHEN 'TASK_CREATED' THEN 'FILE_PARSE'
                    WHEN 'TASK_DISPATCHED' THEN 'FILE_PARSE'
                    WHEN 'TASK_EXECUTION_STARTED' THEN 'FILE_PARSE'
                    WHEN 'TASK_REUSED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_DISCOVERED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_GENERATED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_BACKFILLED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_REUSED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_UPDATED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_RETRIED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_SUBSCRIBED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_SUBSCRIBE_ATTEMPTED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_SUBSCRIBE_CONFLICT' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_SUBSCRIBE_SKIPPED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_FILE_INFO_REPAIR_STARTED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_FILE_INFO_REPAIR_COMPLETED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_FILE_INFO_REPAIR_FAILED' THEN 'FILE_PARSE'
                    WHEN 'TASK_STANDARDIZED' THEN 'STRUCTURE_STANDARDIZE'
                    WHEN 'STANDARDIZE' THEN 'STRUCTURE_STANDARDIZE'
                    WHEN 'TASK_PERSISTED' THEN 'STANDARD_LANDING'
                    WHEN 'TASK_SUCCEEDED' THEN 'STANDARD_LANDING'
                    WHEN 'QUEUE_COMPLETED' THEN 'STANDARD_LANDING'
                    WHEN 'SUBJECT_RECOGNIZE' THEN 'STANDARD_LANDING'
                    WHEN 'VERIFY_ARCHIVE' THEN 'STANDARD_LANDING'
                    WHEN 'DATA_PROCESSING' THEN 'STANDARD_LANDING'
                    ELSE UPPER(COALESCE(t.task_stage, 'FILE_PARSE'))
                END AS normalized_stage,
                t.task_status,
                t.business_key,
                t.file_id,
                t.task_start_time,
                CASE
                    WHEN UPPER(COALESCE(t.task_status, '')) IN ('SUCCESS', 'FAILED', 'STOPPED', 'BLOCKED') THEN
                        CASE UPPER(COALESCE(t.task_stage, 'FILE_PARSE'))
                            WHEN 'FILE_PARSE' THEN DATE_ADD(t.task_start_time, INTERVAL COALESCE(t.parse_task_time_ms, 0) * 1000 MICROSECOND)
                            WHEN 'STRUCTURE_STANDARDIZE' THEN DATE_ADD(t.task_start_time, INTERVAL COALESCE(t.standardize_time_ms, 0) * 1000 MICROSECOND)
                            WHEN 'STANDARD_LANDING' THEN DATE_ADD(t.task_start_time, INTERVAL COALESCE(t.match_standard_subject_time_ms, 0) * 1000 MICROSECOND)
                            ELSE DATE_ADD(t.task_start_time, INTERVAL COALESCE(t.parse_task_time_ms, t.standardize_time_ms, t.match_standard_subject_time_ms, 0) * 1000 MICROSECOND)
                        END
                    ELSE NULL
                END AS task_end_time,
                t.parse_task_time_ms,
                t.standardize_time_ms,
                t.match_standard_subject_time_ms,
                CASE
                    WHEN t.file_id IS NOT NULL THEN CONCAT('FILE-', t.file_id)
                    WHEN t.business_key IS NOT NULL AND TRIM(t.business_key) != '' THEN CONCAT(
                        'BIZ-',
                        REPLACE(
                            REPLACE(
                                REPLACE(TRIM(t.business_key), ' ', '_'),
                            ':', '_'),
                        '/', '_')
                    )
                    ELSE CONCAT('TASK-', t.task_id)
                END AS generated_batch_id,
                LOWER(CONCAT_WS(' ',
                    COALESCE(t.business_key, ''),
                    COALESCE(t.task_type, ''),
                    COALESCE(t.task_stage, ''),
                    COALESCE(t.task_status, ''),
                    COALESCE(t.input_payload, ''),
                    COALESCE(t.result_payload, ''),
                    COALESCE(CAST(t.file_id AS CHAR), '')
                )) AS searchable_text
            FROM t_valset_workflow_task t
            WHERE t.task_type IN ('EXTRACT_DATA', 'PARSE_WORKBOOK')
        )
    </sql>

    <sql id="pageFilteredTasks">
        WITH filtered_tasks AS (
            SELECT
                t.task_id,
                t.task_type,
                t.task_stage,
                CASE UPPER(COALESCE(t.task_stage, 'FILE_PARSE'))
                    WHEN 'EXTRACT' THEN 'FILE_PARSE'
                    WHEN 'RAW_DATA_EXTRACT' THEN 'FILE_PARSE'
                    WHEN 'PARSE' THEN 'FILE_PARSE'
                    WHEN 'TASK_RAW_PARSED' THEN 'FILE_PARSE'
                    WHEN 'TASK_CREATED' THEN 'FILE_PARSE'
                    WHEN 'TASK_DISPATCHED' THEN 'FILE_PARSE'
                    WHEN 'TASK_EXECUTION_STARTED' THEN 'FILE_PARSE'
                    WHEN 'TASK_REUSED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_DISCOVERED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_GENERATED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_BACKFILLED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_REUSED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_UPDATED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_RETRIED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_SUBSCRIBED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_SUBSCRIBE_ATTEMPTED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_SUBSCRIBE_CONFLICT' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_SUBSCRIBE_SKIPPED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_FILE_INFO_REPAIR_STARTED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_FILE_INFO_REPAIR_COMPLETED' THEN 'FILE_PARSE'
                    WHEN 'QUEUE_FILE_INFO_REPAIR_FAILED' THEN 'FILE_PARSE'
                    WHEN 'TASK_STANDARDIZED' THEN 'STRUCTURE_STANDARDIZE'
                    WHEN 'STANDARDIZE' THEN 'STRUCTURE_STANDARDIZE'
                    WHEN 'TASK_PERSISTED' THEN 'STANDARD_LANDING'
                    WHEN 'TASK_SUCCEEDED' THEN 'STANDARD_LANDING'
                    WHEN 'QUEUE_COMPLETED' THEN 'STANDARD_LANDING'
                    WHEN 'SUBJECT_RECOGNIZE' THEN 'STANDARD_LANDING'
                    WHEN 'VERIFY_ARCHIVE' THEN 'STANDARD_LANDING'
                    WHEN 'DATA_PROCESSING' THEN 'STANDARD_LANDING'
                    ELSE UPPER(COALESCE(t.task_stage, 'FILE_PARSE'))
                END AS normalized_stage,
                t.task_status,
                t.business_key,
                t.file_id,
                t.input_payload,
                t.result_payload,
                t.task_start_time,
                CASE
                    WHEN UPPER(COALESCE(t.task_status, '')) IN ('SUCCESS', 'FAILED', 'STOPPED', 'BLOCKED') THEN
                        CASE UPPER(COALESCE(t.task_stage, 'FILE_PARSE'))
                            WHEN 'FILE_PARSE' THEN DATE_ADD(t.task_start_time, INTERVAL COALESCE(t.parse_task_time_ms, 0) * 1000 MICROSECOND)
                            WHEN 'STRUCTURE_STANDARDIZE' THEN DATE_ADD(t.task_start_time, INTERVAL COALESCE(t.standardize_time_ms, 0) * 1000 MICROSECOND)
                            WHEN 'STANDARD_LANDING' THEN DATE_ADD(t.task_start_time, INTERVAL COALESCE(t.match_standard_subject_time_ms, 0) * 1000 MICROSECOND)
                            ELSE DATE_ADD(t.task_start_time, INTERVAL COALESCE(t.parse_task_time_ms, t.standardize_time_ms, t.match_standard_subject_time_ms, 0) * 1000 MICROSECOND)
                        END
                    ELSE NULL
                END AS task_end_time,
                t.parse_task_time_ms,
                t.standardize_time_ms,
                t.match_standard_subject_time_ms,
                CASE
                    WHEN t.file_id IS NOT NULL THEN CONCAT('FILE-', t.file_id)
                    WHEN t.business_key IS NOT NULL AND TRIM(t.business_key) != '' THEN CONCAT(
                        'BIZ-',
                        REPLACE(
                            REPLACE(
                                REPLACE(TRIM(t.business_key), ' ', '_'),
                            ':', '_'),
                        '/', '_')
                    )
                    ELSE CONCAT('TASK-', t.task_id)
                END AS generated_batch_id,
                LOWER(CONCAT_WS(' ',
                    COALESCE(t.business_key, ''),
                    COALESCE(t.task_type, ''),
                    COALESCE(t.task_stage, ''),
                    COALESCE(t.task_status, ''),
                    COALESCE(t.input_payload, ''),
                    COALESCE(t.result_payload, ''),
                    COALESCE(CAST(t.file_id AS CHAR), '')
                )) AS searchable_text
            FROM t_valset_workflow_task t
            WHERE t.task_type IN ('EXTRACT_DATA', 'PARSE_WORKBOOK')
        )
    </sql>

    <sql id="pageTaskFilters">
        <if test="query != null and query.batchId != null and query.batchId != ''">
            AND (
                ft.generated_batch_id = #{query.batchId}
                OR ft.searchable_text LIKE CONCAT('%', LOWER(#{query.batchId}), '%')
            )
        </if>
        <if test="query != null and query.managerName != null and query.managerName != ''">
            AND ft.searchable_text LIKE CONCAT('%', LOWER(#{query.managerName}), '%')
        </if>
        <if test="query != null and query.productKeyword != null and query.productKeyword != ''">
            AND ft.searchable_text LIKE CONCAT('%', LOWER(#{query.productKeyword}), '%')
        </if>
        <if test="query != null and query.stage != null and query.stage != ''">
            AND ft.normalized_stage = UPPER(#{query.stage})
        </if>
        <if test="query != null and query.status != null and query.status != ''">
            AND UPPER(COALESCE(ft.task_status, '')) = UPPER(#{query.status})
        </if>
        <if test="query != null and query.sourceType != null and query.sourceType != ''">
            AND ft.searchable_text LIKE CONCAT('%', LOWER(#{query.sourceType}), '%')
        </if>
        <if test="query != null and query.errorType != null and query.errorType != ''">
            AND ft.searchable_text LIKE CONCAT('%', LOWER(#{query.errorType}), '%')
        </if>
    </sql>

    <sql id="dateWindowFilter">
        <choose>
            <when test="query != null and query.taskDate != null and query.taskDate != ''">
                AND (
                    (
                        ft.task_start_time >= STR_TO_DATE(#{query.taskDate}, '%Y-%m-%d')
                        AND ft.task_start_time &lt; DATE_ADD(STR_TO_DATE(#{query.taskDate}, '%Y-%m-%d'), INTERVAL 1 DAY)
                    )
                    OR (
                        ft.task_end_time IS NOT NULL
                        AND ft.task_end_time >= STR_TO_DATE(#{query.taskDate}, '%Y-%m-%d')
                        AND ft.task_end_time &lt; DATE_ADD(STR_TO_DATE(#{query.taskDate}, '%Y-%m-%d'), INTERVAL 1 DAY)
                    )
                )
            </when>
            <when test="query != null and query.businessDate != null and query.businessDate != ''">
                AND (
                    (
                        ft.task_start_time >= STR_TO_DATE(#{query.businessDate}, '%Y-%m-%d')
                        AND ft.task_start_time &lt; DATE_ADD(STR_TO_DATE(#{query.businessDate}, '%Y-%m-%d'), INTERVAL 1 DAY)
                    )
                    OR (
                        ft.task_end_time IS NOT NULL
                        AND ft.task_end_time >= STR_TO_DATE(#{query.businessDate}, '%Y-%m-%d')
                        AND ft.task_end_time &lt; DATE_ADD(STR_TO_DATE(#{query.businessDate}, '%Y-%m-%d'), INTERVAL 1 DAY)
                    )
                )
            </when>
        </choose>
    </sql>

    <select id="countPageTasks" resultType="java.lang.Long">
        <include refid="pageFilteredTasks"/>
        SELECT COUNT(*) AS totalCount
        FROM filtered_tasks ft
        <where>
            <include refid="dateWindowFilter"/>
            <include refid="pageTaskFilters"/>
        </where>
    </select>

    <select id="selectPageTasks" resultType="com.yss.valset.task.application.dto.OutsourcedDataTaskBatchDTO">
        <include refid="pageFilteredTasks"/>
        SELECT
            ft.generated_batch_id AS batchId,
            COALESCE(ft.business_key, ft.generated_batch_id) AS batchName,
            DATE_FORMAT(ft.task_start_time, '%Y-%m-%d') AS businessDate,
            NULL AS productCode,
            NULL AS productName,
            NULL AS managerName,
            CASE
                WHEN ft.file_id IS NULL THEN NULL
                ELSE CAST(ft.file_id AS CHAR)
            END AS fileId,
            NULL AS filesysFileId,
            NULL AS originalFileName,
            ft.task_type AS sourceType,
            ft.normalized_stage AS currentStage,
            ft.normalized_stage AS currentStep,
            CASE ft.normalized_stage
                WHEN 'FILE_PARSE' THEN '文件解析'
                WHEN 'STRUCTURE_STANDARDIZE' THEN '结构标准化'
                WHEN 'STANDARD_LANDING' THEN '标准表落地'
                ELSE '文件解析'
            END AS currentStageName,
            CASE ft.normalized_stage
                WHEN 'FILE_PARSE' THEN '文件解析'
                WHEN 'STRUCTURE_STANDARDIZE' THEN '结构标准化'
                WHEN 'STANDARD_LANDING' THEN '标准表落地'
                ELSE '文件解析'
            END AS currentStepName,
            UPPER(COALESCE(ft.task_status, 'PENDING')) AS status,
            CASE UPPER(COALESCE(ft.task_status, 'PENDING'))
                WHEN 'RUNNING' THEN '处理中'
                WHEN 'SUCCESS' THEN '已完成'
                WHEN 'FAILED' THEN '失败'
                WHEN 'STOPPED' THEN '已停止'
                ELSE '待处理'
            END AS statusName,
            CASE UPPER(COALESCE(ft.task_status, 'PENDING'))
                WHEN 'RUNNING' THEN 50
                WHEN 'SUCCESS' THEN 100
                WHEN 'FAILED' THEN 66
                WHEN 'STOPPED' THEN 0
                ELSE 0
            END AS progress,
            DATE_FORMAT(ft.task_start_time, '%Y-%m-%d %H:%i:%s') AS startedAt,
            CASE
                WHEN UPPER(COALESCE(ft.task_status, '')) IN ('SUCCESS', 'FAILED', 'STOPPED')
                    THEN DATE_FORMAT(ft.task_end_time, '%Y-%m-%d %H:%i:%s')
                ELSE NULL
            END AS endedAt,
            CASE ft.normalized_stage
                WHEN 'FILE_PARSE' THEN ft.parse_task_time_ms
                WHEN 'STRUCTURE_STANDARDIZE' THEN ft.standardize_time_ms
                WHEN 'STANDARD_LANDING' THEN ft.match_standard_subject_time_ms
                ELSE COALESCE(ft.parse_task_time_ms, ft.standardize_time_ms, ft.match_standard_subject_time_ms)
            END AS durationMs,
            NULL AS durationText,
            CASE
                WHEN UPPER(COALESCE(ft.task_status, '')) IN ('FAILED', 'STOPPED', 'BLOCKED')
                    THEN LEFT(COALESCE(ft.result_payload, ''), 1024)
                ELSE NULL
            END AS lastErrorMessage,
            CASE
                WHEN UPPER(COALESCE(ft.task_status, '')) IN ('FAILED', 'STOPPED', 'BLOCKED')
                    THEN UPPER(COALESCE(ft.task_status, ''))
                ELSE NULL
            END AS lastErrorCode
        FROM filtered_tasks ft
        <where>
            <include refid="dateWindowFilter"/>
            <include refid="pageTaskFilters"/>
        </where>
        ORDER BY ft.task_start_time DESC, ft.task_id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectSummary" resultType="com.yss.valset.task.application.dto.OutsourcedDataTaskSummaryDTO">
        <include refid="baseFilteredTasks"/>
        SELECT
            COUNT(*) AS totalCount,
            COALESCE(SUM(CASE WHEN UPPER(COALESCE(ft.task_status, '')) = 'RUNNING' THEN 1 ELSE 0 END), 0) AS runningCount,
            COALESCE(SUM(CASE WHEN UPPER(COALESCE(ft.task_status, '')) = 'SUCCESS' THEN 1 ELSE 0 END), 0) AS successCount,
            COALESCE(SUM(CASE WHEN UPPER(COALESCE(ft.task_status, '')) = 'FAILED' THEN 1 ELSE 0 END), 0) AS failedCount
        FROM filtered_tasks ft
        <where>
            <include refid="dateWindowFilter"/>
            <if test="query != null and query.batchId != null and query.batchId != ''">
                AND (
                    ft.generated_batch_id = #{query.batchId}
                    OR ft.searchable_text LIKE CONCAT('%', LOWER(#{query.batchId}), '%')
                )
            </if>
            <if test="query != null and query.managerName != null and query.managerName != ''">
                AND ft.searchable_text LIKE CONCAT('%', LOWER(#{query.managerName}), '%')
            </if>
            <if test="query != null and query.productKeyword != null and query.productKeyword != ''">
                AND ft.searchable_text LIKE CONCAT('%', LOWER(#{query.productKeyword}), '%')
            </if>
            <if test="query != null and query.stage != null and query.stage != ''">
                AND ft.normalized_stage = UPPER(#{query.stage})
            </if>
            <if test="query != null and query.status != null and query.status != ''">
                AND UPPER(COALESCE(ft.task_status, '')) = UPPER(#{query.status})
            </if>
            <if test="query != null and query.sourceType != null and query.sourceType != ''">
                AND ft.searchable_text LIKE CONCAT('%', LOWER(#{query.sourceType}), '%')
            </if>
            <if test="query != null and query.errorType != null and query.errorType != ''">
                AND ft.searchable_text LIKE CONCAT('%', LOWER(#{query.errorType}), '%')
            </if>
        </where>
    </select>

    <select id="selectStageSummaries" resultType="com.yss.valset.task.application.dto.OutsourcedDataTaskStageSummaryDTO">
        <include refid="baseFilteredTasks"/>
        SELECT
            stage,
            stage AS step,
            stageName,
            stageName AS stepName,
            stageDescription,
            stageDescription AS stepDescription,
            COUNT(*) AS totalCount,
            COALESCE(SUM(CASE WHEN UPPER(COALESCE(task_status, '')) = 'RUNNING' THEN 1 ELSE 0 END), 0) AS runningCount,
            COALESCE(SUM(CASE WHEN UPPER(COALESCE(task_status, '')) = 'FAILED' THEN 1 ELSE 0 END), 0) AS failedCount,
            COALESCE(SUM(CASE WHEN UPPER(COALESCE(task_status, '')) IN ('PENDING', 'SCHEDULED', 'RETRYING') THEN 1 ELSE 0 END), 0) AS pendingCount
        FROM (
            SELECT
                ft.task_status,
                ft.task_end_time,
                CASE ft.normalized_stage
                    WHEN 'FILE_PARSE' THEN 'FILE_PARSE'
                    WHEN 'STRUCTURE_STANDARDIZE' THEN 'STRUCTURE_STANDARDIZE'
                    WHEN 'STANDARD_LANDING' THEN 'STANDARD_LANDING'
                    ELSE 'FILE_PARSE'
                END AS stage,
                CASE ft.normalized_stage
                    WHEN 'FILE_PARSE' THEN 1
                    WHEN 'STRUCTURE_STANDARDIZE' THEN 2
                    WHEN 'STANDARD_LANDING' THEN 3
                    ELSE 99
                END AS stageOrder,
                CASE ft.normalized_stage
                    WHEN 'FILE_PARSE' THEN '文件解析'
                    WHEN 'STRUCTURE_STANDARDIZE' THEN '结构标准化'
                    WHEN 'STANDARD_LANDING' THEN '标准表落地'
                    ELSE '文件解析'
                END AS stageName,
                CASE ft.normalized_stage
                    WHEN 'FILE_PARSE' THEN '解析 Spring Batch 文件输入与原始内容抽取结果'
                    WHEN 'STRUCTURE_STANDARDIZE' THEN '查看字段映射、清洗和结构标准化执行状态'
                    WHEN 'STANDARD_LANDING' THEN '查看标准表写入、落地和后续加工执行状态'
                    ELSE '解析 Spring Batch 文件输入与原始内容抽取结果'
                END AS stageDescription
            FROM filtered_tasks ft
            <where>
                <include refid="dateWindowFilter"/>
                <if test="query != null and query.batchId != null and query.batchId != ''">
                    AND (
                        ft.generated_batch_id = #{query.batchId}
                        OR ft.searchable_text LIKE CONCAT('%', LOWER(#{query.batchId}), '%')
                    )
                </if>
                <if test="query != null and query.managerName != null and query.managerName != ''">
                    AND ft.searchable_text LIKE CONCAT('%', LOWER(#{query.managerName}), '%')
                </if>
                <if test="query != null and query.productKeyword != null and query.productKeyword != ''">
                    AND ft.searchable_text LIKE CONCAT('%', LOWER(#{query.productKeyword}), '%')
                </if>
                <if test="query != null and query.stage != null and query.stage != ''">
                    AND ft.normalized_stage = UPPER(#{query.stage})
                </if>
                <if test="query != null and query.status != null and query.status != ''">
                    AND UPPER(COALESCE(ft.task_status, '')) = UPPER(#{query.status})
                </if>
                <if test="query != null and query.sourceType != null and query.sourceType != ''">
                    AND ft.searchable_text LIKE CONCAT('%', LOWER(#{query.sourceType}), '%')
                </if>
                <if test="query != null and query.errorType != null and query.errorType != ''">
                    AND ft.searchable_text LIKE CONCAT('%', LOWER(#{query.errorType}), '%')
                </if>
            </where>
        ) stage_data
        GROUP BY
            stage,
            stageOrder,
            stageName,
            stageDescription
        ORDER BY
            stageOrder
    </select>

</mapper>
